* {
  box-sizing: border-box;
}

.copy {
  cursor: pointer;
}

body {
  font: 16px "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, red, yellow);
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.card {
  width: 70%;
  height: 98vh;
  margin: auto;
  /* padding: 15px; */
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.1);
}

h1 {
  font: 600 2.5em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h2 {
  margin: 50px;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
  margin: 50px;
}

/* Gradient Controls ----------------- */

.controls {
  margin: 100px;
}

input[type="color"] {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  background-color: transparent;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.1);
}

button {
  display: block;
  cursor: pointer;
  font: 900 1em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
  background: transparent;
  width: 8em;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.1);
}

/* Media Queries ----------------- */

@media (max-width: 1050px) {
  .container {
    width: 100%;
  }

  .card {
    width: 100vw;
    height: 100vh;
  }

  h1 {
    font-size: 1.9em;
  }

  h2 {
    font-size: 1.2em;
    margin: 20px;
  }

  h3 {
    font: 700 1em "Raleway", sans-serif;
    margin: 20px;
  }

  input[type="color"] {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1em;
  }

  h2,
  h3 {
    margin: 10px;
  }

  .card {
    width: 100%;
    margin: auto;
  }

  .container {
    padding: 25px;
    text-align: center;
  }

  .controls {
    width: 100%;
    margin: 50px 0;
  }
}

/* iPhone 5 ------------------ */

@media (max-width: 320px) {
  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1em;
  }

  h2,
  h3 {
    margin: 10px;
  }

  .card {
    width: 100%;
    margin: auto;
  }

  .container {
    padding: 25px;
    text-align: center;
  }

  .controls {
    width: 100%;
    margin: 50px 0;
  }
}
